.board {
  padding: 20px 250px;
  text-align: center;
}

.card {
  cursor: pointer;
  transition: background 0.3s ease-out;
  @extend .sprite;

  &:hover {
    background: #2980b9;
  }

  &.active {
    background: #3498db;
  }
}
