.board {
  padding: 20px $global-left-margin;
  text-align: center;
}

.card {
  cursor: pointer;
  transition: background 0.3s ease-out;
  @extend .sprite;
  box-sizing: content-box;
  width: 32px;
  height: 32px;

  &:hover {
    background: #2980b9;
  }

  &.active {
    background: #3498db;
  }
}
