.running-sprite-container {
  position: fixed;
  left: 10px;
  top: 10px;
}

.sprite {
  margin: 3px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 1px black;
}
