.running-sprite-container {
  position: fixed;
  left: 0px;
  top: 10px;
  width: $global-left-margin;
  text-align: center;
}

.right-sidebar {
  position: fixed;
  right: 0px;
  top: 50px;
  width: $global-left-margin;
  text-align: center;

  > * {
    display: inline-block;
    width: 60%;
  }
}

.bottom-left-sidebar {
  position: fixed;
  left: 0px;
  bottom: 10px;
  width: $global-left-margin;
  text-align: center;
  font-size: 0.9em;

  > * {
    margin: 0;
  }

  small {
    font-size: 0.8em;
  }

  a {
    cursor: pointer;
  }
}

.sprite {
  margin: 3px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 1px black;
}
