.running-sprite-container {
  position: fixed;
  left: 0px;
  top: 10px;
  width: $global-left-margin;
  text-align: center;
}

.right-sidebar {
  position: fixed;
  right: 0px;
  top: 50px;
  width: $global-left-margin;
  text-align: center;

  > * {
    display: inline-block;
    width: 60%;
  }
}

.sprite {
  margin: 3px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 1px black;
}
