.tools > * {
  display: block;
  margin: 5px 0;

  * {
    display: inline-block;
    margin: 5px 0;
  }
}

.social {
  a {
    $width: 36px;

    vertical-align: middle;
    display: inline-flex;
    width: $width;
    height: $width;
    margin: 3px;
    align-items: center;
    justify-content: center;
  }
}

.hidden {
  display: none;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pop-in {
  animation: pop-in 0.5s ease-out;
}
