$global-left-margin: 250px;

@import "../node_modules/font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import "components/header.scss";
@import "components/running-sprite.scss";
@import "components/board.scss";
@import "components/tools.scss";
@import "views/gallery.scss";

html, body, #react-root, #react-root > * {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

input {
  padding: 5px;
  text-align: center;
  font-size: 0.85em;
  width: 90%;
  border-radius: 3px;
  border: 1px solid #2c3e50;
}

button, .button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 6px;
  font-size: 16px;
  border-radius: 3px;
  background: #2c3e50;
  color: #ecf0f1;
  border: none;
  box-shadow: 1px 1px 1px #cfcfcf;
  outline: none;
  transition: background 0.3s ease-out;

  &:hover, &.active {
    background: #16a085;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.text-center {
  text-align: center;

  > * {
    display: inline-block;
  }
}

.upvote-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  > * {
    margin: 5px;
  }
}

.arrow-button {
  background: none !important;
  box-shadow: none;
  color: #2c3e50;
  font-size: 20px;

  &.active {
    background: none !important;
    color: #16a085;
  }
}
